main > .container {
    padding: 70px 15px 20px;
}
main {
    background-image: url('../imagenes/background.jpg');
    background-size: 100%;
    background-repeat: repeat;
    min-height: 92.5%;
}

.fondo-blanco{
    background-color: #ffffff;
    padding: 2vh;
}

.footer {
    background-color: #2B0A32;
    font-size: .9em;
    min-height: 7.5%;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
    color: white;
    font-weight: bold;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.alturaminima{
    height: 100px;
    margin: 20px;
}

.alturamaxima{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.txt-black{
    color: black !important;
}

.txt-purple{
    color: #731A84 !important;
}

a {
    color: #731A84;
}

a:hover {
    color: #4b0082;
}

*{
    color: white;
}

.btn-purple {
    color: #fff;
    background-color: #731A84;
    border-color: #731A84;
}

.btn-purple:hover {
    color: #fff;
    background-color: #4D1464;
    border-color: #4D1464;
}

.bg-purple {
    background-color: #731A84 !important;
}

.imagen-producto img {
    max-width: 95%;
    max-height: 95%;
    object-fit: contain;
    border: 2px solid black;
    border-radius: 5px;
}
.fix-size {
    justify-content: right;
    align-items: center;
    display: flex;
}

.fix-size a {
    max-width: 95%;
    max-height: 95%;
    object-fit: contain;
    border-radius: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.grid > div > div > div{
    height: 520px;
}

.grid > div > div > div .card-img-top{
    object-fit: cover;
    height: 240px;
}

.site-politicas {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.site-politicas h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.site-politicas h2 {
    font-size: 20px;
    color: #555;
    margin-top: 20px;
    margin-bottom: 10px;
}

.site-politicas p {
    line-height: 1.5;
    color: #777;
}

.site-politicas strong {
    font-weight: bold;
    color: #333;
}

.p-3 {
    border-radius: 5px;
}

.p-3 *:not(p) a {
    color: #007BFF;
    text-decoration: none;
}